doctype html
head
    meta(charset="UTF-8")
    title Exemple
    script(type="text/javascript", src="media/js/moncode.js")
    script(type="text/javascript", src="exercice.js")
body
    h1 it works!
    p Allo tout le monde! Comment que ça vas-tu?
        img(src="media/images/EuroFrancs.png", alt="", onclick="conversion('Euros' , 6.55957, 'Frs');")
        a(href="#" onclick="conversion('m', 100, 'cm')") Conversion mètre &gt; centimètre
    p 